<div class="footer">
    <div class="pure-menu pure-menu-horizontal">      
    <ul>
        <li class="pure-menu-item">
            <a href="https://gitlab.com/querl.dox">
                <img border="0" alt="Gitlab" src="assets/gitlab.svg" width="40" height="auto">
            </a>
        </li>
        <li class="pure-menu-item">
            <a href="mailto:querl.dox.0000x@protonmail.com">
                <img border="0" alt="Email" src="assets/envelope.svg" width="40" height="auto">
            </a>
        </li>     
    </ul>
    </div>
</div>