<div class="footer">
    <div class="pure-menu pure-menu-horizontal">    
    <ul>
        <li class="pure-menu-item">
           <a href="https://gitlab.com/querl.dox">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="{{svg.gitlab.viewbox}}"><path {{svg.gitlab.path}}"/></svg>
            </a>
        </li>
        <li class="pure-menu-item">
           <a href="querl.dox.0000x@protonmail.com">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="{{svg.envelope.viewbox}}"><path {{svg.envelope.path}}"/></svg>
            </a>
        </li>        
    </ul>
    </div>
</div>