<div class=".header">
    <h1 class="brand-title">Notes To The Future</h1>
    <h2 class="brand-tagline">True Tales In The Life Of Clarence Daniels Jr</h2>
    <nav class="nav">
        <ul class="nav-list">
            <li class="nav-item">
                <a class="pure-button" href="#MURDER_ATTEMPT_1">Murder Attempt</a>
            </li>
            <li class="nav-item">
                <a class="pure-button" href="#WHOLE_FOODS_1">Whole Foods</a>
            </li>
            <li class="nav-item">
                <a class="pure-button" href="#WHOLE_FOODS_1">Targeted Product Tampering</a>
            </li>
            <li class="nav-item">
                <a class="pure-button" href="#HATE_CRIME_1">A Hate Crime?</a>
            </li>
            <li class="nav-item">
                <a class="pure-button" href="#UNCLE_TOM_1">Uncle Tom's Burden</a>
            </li>
            <li class="nav-item">
                <a class="pure-button" href="#WINTER_COMING_1">Winter Is Coming</a>
            </li>
            <li class="nav-item">
                <a class="pure-button" href="#GIRL_TRAIN_1">Girl On A Train</a>
            </li>
        </ul>
    </nav>
    {% include '_footer.html' %}
</div>