<!doctype html>
<html lang="en">
{% include '_head.html' %}
<body>
    <div id="layout" class="pure-g">
        <div class="sidebar pure-u-1 pure-u-md-1-4">
            {% include '_header.html' %}
        </div>
    </div>
    <div class="content pure-u-1 pure-u-md-3-4">
            <div>
                <!-- A wrapper for all the blog posts -->
                <div class="posts">
                    <h1 class="content-subhead">Pinned Post</h1>
                    <!-- A single blog post -->
                    {% include 'blog/posts/pinned/_just-doing-my-job.html' %}            
                    {% include 'blog/posts/pinned/_selling-of-souls.html' %} 
                </div>
                <div class="posts">
                    <h1 class="content-subhead">Recent Posts</h1>
                    <!-- A single blog post -->
                    <a id="WHOLE_FOODS_1"></a>
                    {% include 'blog/posts/2019/06/_wholefoods-sec.html' %} 
                    <a id="MURDER_ATTEMPT_1"></a>
                    {% include 'blog/posts/2018/07/_muder-attempt.html' %} 
                    <a id="HATE_CRIME_1"></a>        
                    {% include 'blog/posts/2017/12/_hate-crime.html' %}   
                    {% include 'blog/posts/2018/04/_assault-on-a-bench.html' %}
                    <a id="WINTER_COMING_1"></a>
                    {% include 'blog/posts/2019/11/_winter-is-coming-joke.html' %}
                    <a id="UNCLE_TOM_1"></a>
                    {% include 'blog/posts/2019/09/_uncle-toms-burden.html' %}
                </div>
                <!--
                {% include '_footer.html' %}
                -->
            </div>
    </div>
</body>
</html>
